<div [ngBusy]="{busy: busy,backdrop: true, minDuration: 600}">
    <div class="forecast row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button class="backBtn" type="button" tabindex="0" [routerLinkActive]="['active']" [routerLink]="['/province']"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                    <div>Add Province</div>
                </div>

                <div class="row">
                    <form #province="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-Wrapper">
                                    <div class="card-block">
                                        <div class="primaryDetails">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="region">Region*</label>
                                                        <select class="form-control" id="region" name="region" required placeholder="Enter your region" [(ngModel)]="provinceregion" #region="ngModel">
									<option *ngFor="let reg of regiond" value="{{reg.id}}">{{reg.name}}</option>
								</select>
                                                        <div class="error-place">
                                                            <div *ngIf="region.errors && (region.dirty || region.touched || submitted)" class="error">
                                                                <span *ngIf="region.errors.required">
												Region is required
										</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <div class="form-group">
                                                        <label for="name">Province Name*</label>
                                                        <input type="text" class="form-control" (ngModelChange)="NameChange($event)" id="name" name="name" required placeholder="Enter province name" [(ngModel)]="provincename" #name="ngModel" pattern="^[a-zA-Z0-9-_@ ]*$">
                                                        <div class="error-place">
                                                            <div *ngIf="name.errors && (name.dirty || name.touched || submitted)" class="error">
                                                                <span *ngIf="name.errors.required">
												Province name is required
										</span>
                                                                <span *ngIf="name.errors.pattern">
											Please enter a valid province name.
										</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <div class="form-group">
                                                        <label for="code">Province Code*</label>
                                                        <input type="text" readonly class="form-control" id="code" name="code" [(ngModel)]="provincecode" #code="ngModel">
                                                        <span *ngIf="namechkResErr" class="error">
										Province code loading. Please wait
								</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="buttonContainer">
                                    <button class="btn darkBtn" *ngIf="!loading" type="submit" (click)="submit()" label="Show">Submit</button>
                                    <div class="loader" *ngIf="loading"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dargPop">
    <p-dialog [modal]="true" [(visible)]="display" *ngIf="result == 'success'">
        <h6>Added new province</h6>
    </p-dialog>
    <p-dialog header="Added new province" [modal]="true" [(visible)]="display" *ngIf="result != 'success'">
        <p>{{result}}</p>
    </p-dialog>
</div>