<div class="app logincontainer flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-block" [ngBusy]="{busy: busy, message: 'Logging...', backdrop: true, minDuration: 600}" *ngIf="ifValid">
			        <img src="assets/img/logo-login.png">
              <p class="text-muted">Reset Password</p>
              <!-- <p-messages [value]="msgs"></p-messages> -->
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)]="passwordNew" #password="ngModel" class="form-control" minlength="6" required placeholder="Enter Password">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)]="cpasswordNew" #cpassword="ngModel" class="form-control" minlength="6" required placeholder="Confirm Password">
              </div>
              <br />
              <div class="row">
                <div class="col-12 login">
                  <button type="button" (click)="setPassword()" class="btn btn-primary px-4">Set Password</button>
                </div>
                <div class="col-12 mt-2">
                  <button type="button"  [routerLink]="['/login']" class="btn btn-link px-0"><a href="javascript:void(0)">Sign In</a></button>
                </div>
              </div>
            </div>
            <div class="card-block" [ngBusy]="{busy: busy, message: 'Logging...', backdrop: true, minDuration: 600}" *ngIf="!ifValid">
              <p class="text-muted">{{errorMsg}}</p>
            </div>
		      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="passPopUp">
  <div class="dargPop">
    <p-dialog [modal]="true" (onHide)="redirectLogin()" [(visible)]="display" *ngIf="result == 'success'">
      <h6>Password updated successfully!</h6>
    </p-dialog>
    <p-dialog header="Error" [modal]="true" [(visible)]="display" *ngIf="result != 'success'">
      <p>{{result}}</p>
    </p-dialog>
  </div>
</div>