<div class="overlay" *ngIf="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw contCenter"></i> <span class="sr-only">Loading...</span>
    </div>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        {{reportName}}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-Wrapper">
                                <div class="card-block">
                                    <div class="primaryDetails">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>SPH </label>
                                                    <p-autoComplete field="realm" [(ngModel)]="uiTxtSph" 
                                                        [suggestions]="userSph" 
                                                        (completeMethod)="getSphList($event)" 
                                                        (onFocus)="getSphList($event)">
                                                        </p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>From Month</label>
                                                    <select name="from_date" class="form-control" [(ngModel)]="uiTxtFromDate">
                                                        <option *ngFor="let mn of monthsArr; let i=index" value="{{i+1}}">{{mn}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>To Month</label>
                                                    <select name="to_date" class="form-control" [(ngModel)]="uiTxtToDate">
                                                        <option *ngFor="let mn of monthsArr; let i=index" value="{{i+1}}">{{mn}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="error" *ngIf="monthErr">To-Month needs to be greater than From-Month</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="buttonContainer">
                                <div class="form-group">
                                    <a href="javascript:void(0);" (click)="searchData()" class="btn darkBtn">Apply</a>
                                    <a href="javascript:void(0);" (click)="resetData()" class="btn darkBtn">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header ">
                        RESULTS
                        <a href="javascript:void(0);" class="exportWish pull-right" (click)="downloadData()">
                            <i class="fa fa-cloud-download fa-lg mt-4"></i>Export
                        </a>
                    </div>
                    <div class="card-Wrapper">
                        <div class="card-block tableWrap" [ngBusy]="{busy: busy,backdrop: true, minDuration: 600} ">
                            <table class="table table-bordered reportSummaryHoTable ">
                                <thead>
                                    <tr>
                                        <th>SPH Name</th>
                                        <th>Mobile No.</th>
                                        <th>Region</th>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Visit Date</th>
                                        <th>Check In Time</th>
                                        <th>Check Out Time</th>
                                        <th>Coordinate Check In</th>
                                        <th>Coordinate Check Out</th>
                                        <th>Customer Name</th>
                                        <th>Customer Type (Mason/Contractor/Retailer/Distributor)</th>
                                        <th>Phone Number</th>
                                        <th>Project Name</th>
                                        <th>Project Address</th>
                                        <th>FPS</th>
                                        <th>Nota</th>
                                        <th>Catatan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of resultList" [ngClass]="{'isRegion': data.isregion}">
                                        <td>{{data.sphName}}</td>
                                        <td>{{data.mobileNo}}</td>
                                        <td>{{data.region}}</td>
                                        <td>{{data.province}}</td>
                                        <td>{{data.district}}</td>
                                        <td>{{data.visitDate}}</td>
                                        <td>{{data.checkInTm}}</td>
                                        <td>{{data.checkOutTm}}</td>
                                        <td>{{data.coorCheckIn}}</td>
                                        <td>{{data.coorCheckOut}}</td>
                                        <td>{{data.customerName}}</td>
                                        <td>{{data.customerType}}</td>
                                        <td>{{data.phoneNo}}</td>
                                        <td>{{data.projcetName}}</td>
                                        <td>{{data.projectAddress}}</td>
                                        <td>{{data.fps}}</td>
                                        <td>{{data.nota}}</td>
                                        <td>{{data.catatan}}</td>
                                    </tr>
                                    <tr *ngIf="resultList?.length==0">
                                        <td>No Data Available</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>