<div [ngBusy]="{busy: busy,backdrop: true, minDuration: 600}">
    <div class="row forecast">
        <div class="col-sm-12">
            <div class="card">
                <div class="cardContent">
                    <div class="card-header">
                        <button class="backBtn" type="button" tabindex="0" [routerLinkActive]="['active']" [routerLink]="['/municipality']"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                        <div>Add Municipality</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-Wrapper">
                            <div class="card-block">
                                <div class="primaryDetails">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Region*</label>
                                                <p-autoComplete field="name" required [(ngModel)]="region_id" [suggestions]="filteredRegion" (completeMethod)="filterRegion($event)" (loading-text)="loading" (keyup)="deSelect($event,'region')" (keypress)="deSelect($event,'region')" (onFocus)="filterRegion($event)"
                                                    #regionId="ngModel" (onUnselect)="filterRegionMultipleUnSelect($event)" (onSelect)="filterRegionMultipleSelect($event)"></p-autoComplete>
                                                <div class="error-place">
                                                    <div *ngIf="regionId.errors && (regionId.dirty || regionId.touched || submitted)" class="error">
                                                        <span *ngIf="regionId.errors.required">
                                                            Region is required
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Province*</label>
                                                <p-autoComplete field="name" [(ngModel)]="Prvnc" [suggestions]="filteredProvince" (completeMethod)="filterProvince($event)" (loading-text)="loading" (keyup)="deSelect($event,'province')" (keypress)="deSelect($event,'province')" [disabled]="(region_id)?false:true"
                                                    required #provinceId="ngModel" (onFocus)="filterProvince($event)" (onUnselect)="filterProvinceMultipleUnSelect($event)" (onSelect)="filterProvinceMultipleSelect($event)"></p-autoComplete>
                                                <div class="error-place">
                                                    <div *ngIf="provinceId.errors && (provinceId.dirty || provinceId.touched || submitted)" class="error">
                                                        <span *ngIf="provinceId.errors.required">
                                                            Province is required
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>District*</label>
                                                <p-autoComplete field="name" [(ngModel)]="Distr" [suggestions]="filteredDistrict" (completeMethod)="filterDistrict($event)" (loading-text)="loading" (keyup)="deSelect($event,'district')" (keypress)="deSelect($event,'district')" [disabled]="(Prvnc)?false:true"
                                                    required #districtId="ngModel" (onFocus)="filterDistrict($event)" (onUnselect)="filterDistrictMultipleUnSelect($event)" (onSelect)="filterDistrictMultipleSelect($event)"></p-autoComplete>
                                                <div class="error-place">
                                                    <div *ngIf="districtId.errors && (districtId.dirty || districtId.touched || submitted)" class="error">
                                                        <span *ngIf="districtId.errors.required">
                                                            District is required
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="name">Municipality Name*</label>
                                                <input type="text" class="form-control" (ngModelChange)="NameChange($event)" id="name" name="name" required placeholder="Enter municipality name" [(ngModel)]="munName" #name="ngModel" pattern="^[a-zA-Z0-9 ]*$">
                                                <div class="error-place">
                                                    <div *ngIf="name.errors && (name.dirty || name.touched || submitted)" class="error">
                                                        <span *ngIf="name.errors.required">
                                                                Municipality name is required
                                                        </span>
                                                        <span *ngIf="name.errors.pattern">
                                                            Please enter a valid municipality name
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="code">Municipality Code*</label>
                                                <input type="text" readonly required class="form-control" id="code" name="code" [(ngModel)]="munCode" #code="ngModel">
                                                <span *ngIf="namechkResErr" class="error">
                                                        Municipality code loading. Please wait
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="buttonContainer">
                            <button *ngIf="!loading" class="btn darkBtn" type="submit" (click)="submit()" pButton icon="fa-external-link-square" label="Show">Submit</button>
                            <div class="loader" *ngIf="loading"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="dargPop">
    <p-dialog [modal]="true" [(visible)]="display" *ngIf="result == 'success'">
        <h6>Added new municipality</h6>
    </p-dialog>
    <p-dialog header="Added new municipality" [modal]="true" [(visible)]="display" *ngIf="result != 'success'">
        <p>{{result}}</p>
    </p-dialog>
</div>