<div class="overlay" *ngIf="loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw contCenter"></i> <span class="sr-only">Loading...</span>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <button type="button" class="backBtn" [routerLinkActive]="['active']" [routerLink]="['/monthly-actual-target']"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
          <div>
            UPLOAD MONTHLY ACTUAL TARGET
          </div>
        </div>
		<div>
			<button type="button" class="btn darkBtn" *ngIf="uploadedData" (click)="uploadAgain()">Upload another CSV</button>
		</div>
        <div class="row" *ngIf="!uploadedData">
          <div class="col-md-8">
            <div class="card-Wrapper">
              <div class="card-block">
                <form #product="ngForm">
                  <div class="primaryDetails">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="name">Select Year*</label>
                          <select name="year_select" class="form-control" [(ngModel)]="yearVal">
                            <option  *ngFor="let yr of years" value="{{yr}}">{{yr}}</option>
                          </select>
                          <div class="error-place" *ngIf="monthError">
                            <div class="error">
                              <span>Please select valid month &amp; year (only current/future dates applicable)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-md-3">
                          <div class="form-group">
                          <label for="name">Select Month*</label>
                          <select name="from_date" class="form-control" [(ngModel)]="monthVal">
                            <option  *ngFor="let mn of monthsArr; let i=index" value="{{i+1}}">{{mn}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Upload CSV</label>
                          <input type="file" class="form-control uploadFile" id="upload" name="upload" placeholder="Enter your upload" [(ngModel)]="product.upload" (change)="_onChange($event)" #upload="ngModel" required>
                          <div class="error-place" *ngIf="csvError">
                            <div class="error">
                              <span>{{fileError}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="buttonContainer">
              <div class="form-group">
                <button *ngIf="!uploading" class="btn darkBtn" type="submit" (click)="uploadTarget()">Upload Monthly Target</button>
                <div class="loader" *ngIf="loading"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Format
        </div>
        <div class="card-Wrapper">
          <div class="card-block" *ngIf="!uploadedData">
            <table class="table table-bordered productRequestTable">
              <thead>
                <tr>
                  <th>sph mobile</th>
                  <th>sph name</th>
                  <th>status</th>
                  <th>srku house num</th>
                  <th>srku vol</th>
                  <th>cement vol switching</th>
                  <th>cement vol maintain</th>
                  <th>new switching hpb</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>8692903858</td>
                  <td>Nirmala</td>
                  <td>Active/Inactive</td>
                  <td>12</td>
                  <td>1</td>
                  <td>12</td>
                  <td>14</td>
                  <td>15</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-block" *ngIf="uploadedData">
            <table class="table table-bordered productRequestTable">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Target of</th>
                  <th>Target Value</th>
                  <th>For SPH</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tg of uploadedData">
                  <td class="{{tg.class}}">{{this.monthVal}}</td>
                  <td class="{{tg.class}}">{{this.yearVal}}</td>
                  <td class="{{tg.class}}">{{tg.target_label}}</td>
                  <td class="{{tg.class}}">{{tg.target_value}}</td>
                  <td class="{{tg.class}}">{{tg.sph_mobile}}</td>
                  <td class="{{tg.class}}">{{tg.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
