<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <button type="button" class="backBtn" [routerLinkActive]="['active']" [routerLink]="['/cement-bag-removal']"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
        </div>
        <div class="detailsContainer productContainer">
          <div class="card-details">
            <div class="card-block">
              <div class="blockTop productBlock">
                <div class="items">
                  <div class="gutter-space">
                    <div class="panelWrapper">
                      <div class="panelHead">
                        <h3>Cement Bag Removal Details</h3>
                      </div>
                      <div class="panelBody">
                        <ul class="panelitem panelInfo">
                          <li>
                            <p>From Date</p>
                            <h4>{{bagremoval.from_date}}</h4>
                          </li>
                          <li>
                            <p>To Date</p>
                            <h4>{{bagremoval.to_date}}</h4>
                          </li>
                          <li>
                            <p>Quantity</p>
                            <h4>{{bagremoval.quantity}}</h4>
                          </li>
                        </ul>
                      </div>
                      <div class="panelHead">
                        <h3>Address Details</h3>
                      </div>
                      <div class="panelBody">
                        <ul class="panelitem panelInfo">
                          <li class="addProj">
                            <p>Address</p>
                            <h4>{{bagremoval.address}}</h4>
                          </li>
                          <li class="col-md-8">
                            <p>Location Name</p>
                            <h4>{{bagremoval.location_name}}</h4>
                          </li>
                          <li class="col-md-4">
                            <p>City</p>
                            <h4>{{bagremoval.city}}</h4>
                          </li>
                          <li>
                            <p>Province</p>
                            <h4>{{bagremoval.province}}</h4>
                          </li>
                          <li>
                            <p>District Name</p>
                            <h4>{{bagremoval.district_name}}</h4>
                          </li>
                          <li>
                            <p>Subdistrict</p>
                            <h4>{{bagremoval.sub_district}}</h4>
                          </li>
						              <li>
                            <p>Postal Code</p>
                            <h4>{{bagremoval.postal_code}}</h4>
                          </li>
                        </ul>
                      </div>
                      <div class="panelHead">
                        <h3>Witness Details</h3>
                      </div>
                      <div class="panelBody">
                        <ul class="panelitem panelInfo">
                          <li>
                            <p>Witness Name</p>
                            <h4>{{bagremoval.witness_name}}</h4>
                          </li>
                          <li>
                            <p>Witness Designation</p>
                            <h4>{{bagremoval.witness_designation}}</h4>
                          </li>
                          <li *ngIf="bagremoval.attach_picture_array">
                            <p>Photos</p>
                            <ul class="invoiceImages">
                              <li *ngFor="let bank_document of attach_picture_array; let i = index">
                                <!--<img src="{{bank_document.fileType}}" alt="">-->
                                <a href="{{bank_document.serverPath}}" target="_blank"><img *ngIf="bank_document.fileType!='jpeg' && bank_document.fileType!='jpg' && bank_document.fileType!='png'; else elseBlock"
                                  src="assets/img/document.jpg" alt="">
                                  <ng-template #elseBlock>
                                    <a href="{{bank_document.serverPath}}" target="_blank"><img src="{{bank_document.serverPath}}" alt=""></a>
                                  </ng-template>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <p>Signature</p>
                            <div class="signaImg">
                              <img src="{{bagremoval.digital_sign || '-' }}" alt="" width="100" height="100">
                            </div>
                          </li>
                          <li>
                            <p>Note</p>
                            <h4>{{bagremoval.additional_comments || '-'}}</h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
