<div class="app logincontainer flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-block" [ngBusy]="{busy: busy, message: 'Logging...', backdrop: true, minDuration: 600}">
              <img src="assets/img/logo-login.png">
              <p class="text-muted">Reset Password By Email Id</p>
              <p-messages [value]="msgs"></p-messages>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" [(ngModel)]="username" #uname="ngModel" class="form-control" required minlength="10" placeholder="Enter Email Id">
                <!-- <div class="error-place">
                  <div *ngIf="uname.errors && (uname.dirty || uname.touched || submitted)" class="error">
                      <span *ngIf="uname.errors.required">required</span>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-12 login">
                  <button type="button" (click)="resetClick()" class="btn btn-primary px-4">Submit</button>
                </div>
                <div class="col-12 mt-2">
                  <button type="button"  [routerLink]="['/login']" class="btn btn-link px-0"><a href="javascript:void(0)">Sign In</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="passPopUp">
  <div class="dargPop">
    <p-dialog [modal]="true" (onHide)="redirectLogin()" [(visible)]="display" *ngIf="success">
      <p>{{result}}</p>
    </p-dialog>
    <p-dialog header="Error" [modal]="true" [(visible)]="display" *ngIf="!success">
      <p>{{result}}</p>
    </p-dialog>
  </div>
</div>