<div class="overlay" *ngIf="loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw contCenter"></i> <span class="sr-only">Loading...</span>
</div>
<div class="animated fadeIn" *ngIf="!loading">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Retailer / Distributor Target
        </div>
        <div class="addUser">
          <button type="button" [routerLinkActive]="['active']" [routerLink]="['/add-visit-plan']" class="btn btnUser">Add Retailer / Distributor Target</button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-Wrapper">
              <div class="card-block">
                <div class="primaryDetails">
                  <div class="row">
                    <div class="col-md-3">
                      <label>Visit Date</label>
                      <p-calendar name="visitDate" id="visitDate" dateFormat="yy-mm-dd" [(ngModel)]="value"></p-calendar>
                    </div>
                    <div class="col-md-3">
                      <label>SPH Name</label>
                      <p-autoComplete [(ngModel)]="sphSelected" [suggestions]="filteredSph" (completeMethod)="filterSph($event)" [size]="30" [minLength]="1" [dropdown]="false">
                        <ng-template let-sphSelected pTemplate="item">
                          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{sphSelected}}</div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                    </div>
                    <div class="col-md-3">
                      <label>Visitor Name</label>
                      <p-autoComplete [(ngModel)]="visitorSelected" [suggestions]="filteredVisitor" (completeMethod)="filterVisitor($event)" [size]="30" [minLength]="1" [dropdown]="false">
                        <ng-template let-visitorSelected pTemplate="item">
                          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{visitorSelected}}</div>
                          </div>
                        </ng-template>
                      </p-autoComplete>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Visitor Type </label>
                        <select class="form-control" [(ngModel)]="visitorType">
                          <option value="">ALL</option>
                          <option value="retailer">Retailer</option>
                          <option value="distributor">Distributor</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Visit Status</label>
                        <select class="form-control" [(ngModel)]="visitStatus">
                          <option value="">ALL</option>
                          <option value="1">Active</option>
                          <option value="0">Inactive</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="buttonContainer">
              <div class="form-group">
                <a href="javascript:;" (click)="searchData()" class="btn darkBtn">Apply</a>
                <a href="javascript:;" (click)="resetData()" class="btn darkBtn">Reset</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          RESULTS
        </div>
        <div class="card-Wrapper">
          <div class="card-block" [ngBusy]="{busy: busy,backdrop: true, minDuration: 600}">
            <table class="table table-bordered productRequestTable">
              <thead>
                <tr>
                  <th>Visit Date</th>
                  <th>SPH Name</th>
                  <th>Visitor Name</th>
                  <th>Visitor Type</th>
                  <th>Visit Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tg of target">
                  <td>{{tg.target_date}}</td>
                  <td>{{tg.sph_name}}</td>
                  <td>{{tg.visitor_name || '-'}}</td>
                  <td>{{tg.visitor_type}}</td>
                  <td>{{tg.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-block" *ngIf="dataEmpty">
            <div class="row">
              <div class="col-md-4">&nbsp;</div>
              <div class="col-md-4">
                <h4>NO RESULT FOUND</h4>
              </div>
              <div class="col-md-4">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>