<div class="overlay" *ngIf="loading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw contCenter"></i> <span class="sr-only">Loading...</span>
</div>
<div class="animated fadeIn" *ngIf="!loading">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="addUser">
                    <button type="button" [routerLinkActive]="['active']" [routerLink]="['/add-project-stage']" label="Show" class="btn btnUser">Add Project Stage</button>
                </div>
                <div class="card-header">
                    RESULTS
                </div>
				<!--<div class="ui-g-12 ui-md-4">
					Displaying <span>{{(offset==0)?1:(pagePerLimit*(offset+1))-pagePerLimit+1}} - {{(offset==0)?pagePerLimit-(pagePerLimit-proStageData?.length):pagePerLimit*(offset+1)-(pagePerLimit-proStageData?.length)}} of {{total}}</span>
				</div>-->
                <div class="card">
                    <div class="ui-g-12 ui-md-4">
                        Displaying <span>{{(offset==0)?1:(pagePerLimit*(offset+1))-pagePerLimit+1}} - {{(offset==0)?pagePerLimit-(pagePerLimit-proStageData?.length):pagePerLimit*(offset+1)-(pagePerLimit-proStageData?.length)}} of {{total}}</span>
                    </div>
                    <div class="card-Wrapper">
                        <div class="card-block" [ngBusy]="{busy: busy,backdrop: true, minDuration: 600}">
                            <table class="table table-bordered productRequestTable">
                                <thead>
                                    <tr>
										<th>Sr No.</th>
                                        <th>Project Stage</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pro of proStageData; let i=index;">
										<td>{{i+1+(offset?offset*10:0)}}</td>
                                        <td>{{pro.project_stage}}</td>
                                        <td>
                                            <div class="groupBtn">
                                                <a href="javascript:void(0);" target="_blank" class="btn btnEdit" [routerLink]="['/edit-project-stage', pro.id]">Edit</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p-paginator *ngIf="paginationVal" rows="10" totalRecords={{total}}  (onPageChange)="paginate($event)"></p-paginator>
                        </div>
                        <div class="card-block" *ngIf="proStageData?.length==0">
                            <div class="row">
                                <div class="col-md-4">&nbsp;</div>
                                <div class="col-md-4">
                                    <h4>NO RESULT FOUND</h4>
                                </div>
                                <div class="col-md-4">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>